body {
   display:flex;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
}
.photo {
   border-radius: 50%;
}
.main {
   background-color: #dde9f1;
   padding: 5%;
   padding-top: 5%;
}
.title {
   padding-left: 30px;
}
table {
border-collapse: collapse;
background-color: #dde9f1;
}
th, td {
   border: 1px solid black;
   padding: 5px;
   height: 100px;
}

